/******************** 
Default styles
***********************/

body {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 0;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: #000000;
}

img, embed, object, video {
	max-width: 100%;
}

/************* Mobile Styles ***************/


/**************************
Navigation
***************************/

.dl-logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  margin-left: 15px;
  width: 60%;
}

.dl-logo img {
  width: 48px;
  height: 65px;
}

.dl-logo p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 40px auto;
  padding: 0;
  width: 95%;

}

ul li a img {
  width: 40px;
}

li a {
  text-decoration: none;
  color: #ff386d;
}

.nav-dropdown ul li {
  display: block;
  width: 100%;
}

.nav-dropdown {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding-right: 15px;
}

.nav-dropdown ul {
  padding: 0;
  margin: 0;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1.5rem;
  top: 0;
  right: 0;
  list-style-type: none;
  padding: 0;      
  display: none;
  background: white;
  width: 100%;
}

.dropdown li {
  background: white;
  border: none;
  color: #ff386d;
  text-align: left;
  padding: 10px;
  margin: 0;
  font-size: 1.3rem;
  color: #000000;
  text-align: center;
  line-height: 1.8rem;
}

.dropdown li:first-of-type {
  margin-top: 30px;
}


.nav-dropdown ul li:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown li span:hover {
  cursor: default;
}

.dropdown li {
  clear: both;
  width: 100%;
}

/************************
Portfolio section
*************************/

.work-samples {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 70px 0;
  width: 100%;
}

.work-samples div {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.work-samples img {
  margin-bottom: 30px;
  width: 100%;

}

/**************************
About Section
****************************/

.about {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background: #ffdbe5;
  width: 100%;
}

.about h1 {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #ff386d;
}

.about-card {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background: white;
  margin: 20px auto;
  margin-bottom: 80px;
  padding: 30px;
  width: 70%;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
}

.about-card img {
  width: 100%;
}

.about-card h2 {
  font-family: 'Rajdhani', sans-serif;
  color: #ff386d;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.about-card p {
  text-align: center;
  line-height: 1.4rem;
}

/*****************************
Footer
****************************/

footer {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
}

footer p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  margin: 5px auto;
  width: 80%;
}

footer p:first-of-type {
  margin-top: 2.3rem;
}


footer p a {
  font-weight: 400;
  text-decoration: none;
  color: #000000;  
}

footer p a:hover {
  cursor: pointer;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

.social-media span {
  width: 45px;
}

/********* Tablet Styles **********/

@media screen and (min-width: 700px) {

  nav {
    margin: 40px auto;
    width: 90%;
  }

  ul li a img {
    width: 50px;
  }
}